nav{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10% rgb(0,0,0,0.465);
    padding: 3rem;
}

nav > a{
    font: 600 1.7rem cursive;
    color: rgb(77, 80, 216);
    text-decoration: none;
    margin-right: 3%;

}